extends layout

block content
    .content#login_wrap
        h1#logo
        form.form_wrap.join_wrap(action='/join/register' method='post')
            input#email(type='text' name='username' placeholder='username')
            input#pwd(type='password' name='password' placeholder='password')
            input#join_btn(type='button' value='Sign up' aria-label="회원가입 버튼")
  
    script(src="../javascripts/sign.js" type="module") 




