@charset "utf-8";

/* CSS COMMON FILE */

#wrap {
    width: 100%;
}

.inner {
    width: 100%;
}

#logo {
    background-image: url();
    background-size: cover;
    background-position: center;
}

input[id*='btn'],
button {}

.fl {
    float: left
}

.fr {
    float: right
}

.start-day,
.goal-id {
    display: none ! important;
}

.end-text {
    display: none;
}

.close_btn {
    float: right;
    background-image: url('../image/close.svg');
    background-size: contain;
}

input[type=checkbox] {
    display: none;
}

label::before {
    content: '';
    background-image: url(../image/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border: 0 ! important;
    transform: rotate(60);
    width: 30px;
    height: 30px;
    -webkit-transition: transform 0.2s ease-out, color 0.2s ease;
    -moz-transition: transform 0.2s ease-out, color 0.2s ease;
    -ms-transition: transform 0.2s ease-out, color 0.2s ease;
    -o-transition: transform 0.2s ease-out, color 0.2s ease;
    transition: transform 0.2s ease-out, color 0.2s ease;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

input[type=checkbox]:checked+label::before {
    content: '';
    background-image: url(../image//checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.bg_black {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(36, 36, 36, 0.7);
    display: none;
    animation-name: modal;
    animation-duration: 0.3s;
}

@keyframes modal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}