@charset "utf-8";

/* CSS COMMON FILE */

#wrap {
    width: 100%;
}

.inner {
    width: 100%;
}

h1#logo {
    background-image: url(../image/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.fl {
    float: left
}

.fr {
    float: right
}

.start-day,
.goal-id {
    display: none ! important;
}

.end-text {
    display: none;
}

.close_btn {
    float: right;
    background-image: url('../image/close.svg');
    background-size: contain;
}

input[type=checkbox] {
    display: none;
}

label::before {
    content: '';
    background-image: url(../image/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border: 0 ! important;
    transform: rotate(60);
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-transition: transform 0.2s ease-out, color 0.2s ease;
    -moz-transition: transform 0.2s ease-out, color 0.2s ease;
    -ms-transition: transform 0.2s ease-out, color 0.2s ease;
    -o-transition: transform 0.2s ease-out, color 0.2s ease;
    transition: transform 0.2s ease-out, color 0.2s ease;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

input[type=checkbox]:checked+label::before {
    content: '';
    background-image: url(../image//checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

form[class*=_form] {
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.3);
}

.bg_black {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(36, 36, 36, 0.7);
    display: none;
    animation-name: modal;
    animation-duration: 0.3s;
}

@keyframes modal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#logout_btn:hover,
#add_btn:hover {
    position: relative;
    animation: btnEffect 1.5s ease-out infinite;
    animation-delay: 0.1s;
    background-color: #29ff8f;
    font-weight: 500;
}

@keyframes btnEffect {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#save_btn:hover {
    color: #fff;
}

#login_btn:hover,
#save_btn:hover,
#goal_btn:hover,
#delete_btn:hover {
    box-shadow: inset 0 -12vh 0 0 #29ff8f;
    transition: 0.25s;
    border-color: #29ff8f;
}

.content#goal_wrap .list li[class*=-item]:hover {
    border-color: #29ff8f;
    transition: 0.25s;
  }
