@charset "utf-8";

/* CSS STYLE FILE */

@media screen and (min-width: 360px) {

  #logo {
    width: 50%;
    height: 100px;
    background-color: yellow;
  }

  /* login.pug */
  .content#login_wrap {
    width: 84%;
    position: relative;
    margin: 0 auto;
    top: 10vh;
  }

  .content#login_wrap #logo {
    margin: 5vh auto;
  }

  .content#login_wrap .form_wrap {
    width: 100%;
  }

  .content#login_wrap .form_wrap input {
    width: 100%;
    background-color: #fff;
    border: 2px solid #000;
    margin-bottom: 1.5vh;
    padding: 4vw;
  }

  .content#login_wrap .form_wrap input[id*='btn'] {
    margin-bottom: 0;
    background-color: #000;
    color: #fff;
    font-weight: 500;
  }

  .content#login_wrap a.to_join {
    width: 100%;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
    margin: 4vh auto;
    text-decoration: underline;
  }


  /* goals.pug */
  header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 3% auto 7vh auto;
    display: inline-block;
  }

  header #logo {
    height: inherit;
    display: inline-block;
  }

  .content#goal_wrap {
    width: 94%;
    margin: 0 auto;
  }

  .content#goal_wrap .list li[class*=empty-item] {
    display: none;
  }

  .content#goal_wrap .list li[class*=-item] {
    padding: 5vw;
    border: 2px solid #000;
    margin-bottom: 1vh;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
  }

  .content#goal_wrap .list li[class*=-item]:hover {
    background-color: #000;
    color: #fff;
  }



  .content#goal_wrap .list li[class*=-item] .goal-title {
    font-weight: 600;
    margin-bottom: 1.5vh
  }

  .content#goal_wrap li .goal-days div {
    display: inline-block;
  }

  .current-day::after {
    content: '/';
    display: inline-block;
    margin: 0 5px;
  }

  .content#goal_wrap li .goal-days .left-day::after {
    content: 'days';
    display: inline-block;
  }

  .content#goal_wrap #btn_wrap {
    width: 80px;
    position: fixed;
    bottom: 3vh;
    right: 3%;
  }

  #logout_btn,
  #add_btn {
    width: 80px;
    height: 80px;
    font-size: 0.9em;
    line-height: 80px;
    text-align: center;
    float: right;
    background-color: #000;
    color: #fff;
  }

  /* goal_set_form */
  .close_btn {
    width: 15px;
    height: 15px;
  }

  .goal_set_form {
    padding: 10vw;
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 21vh;

  }

  form[class*=_form] h2 {
    width: 70%;
    font-size: 1.1rem;
    margin-bottom: 4vh;
    display: inline-block;
  }

  form[class*=_form] input,
  select {
    padding: 4vw;
    width: 100%;
    border: 2px solid #000;
    background-color: #fff;
  }

  .goal_set_form div[class*=goal_set] {
    margin-bottom: 3vh;
  }

  .goal_set_form div p {
    margin-bottom: 1vh;
    font-size: 0.9rem;
  }

  .goal_set_form #goal_btn {
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .goal_detail_form {
    width: calc(100%);
    height: 100%;
    background-color: #fff;
    padding: 10% 8%;
    box-sizing: border-box;

  }

  .goal_detail_form h2 {
    margin-bottom: 2vh;
  }

  .goal_detail_form .goal-days {
    overflow: hidden;
    margin-bottom: 2vh;
  }

  .goal_detail_form .goal-days div {
    float: left;
  }

  .goal_detail_form .goal-days div:first-child::after {
    content: '/';
  }

  .goal_detail_form .goal-days div:last-child::after {
    content: 'days';
  }

  .goal_detail_form .day-list {
    width: 100%;
    overflow: hidden;
    border-left: 2px solid #000;
    margin: 3vh 0;
  }

  .goal_detail_form .day-list li {
    border: 2px solid #000;
    border-left: none;
    width: 20%;
    height: 10vh;
    float: left;
    padding: 2%;
    border-collapse: collapse;
    box-sizing: border-box;
    position: relative;
  }

  .goal_detail_form .day-list li:nth-child(n+6):nth-child(-n+30) {
    border-top: none;
  }

  .goal_detail_form .day-list li p {
    font-size: 0.8rem;
  }

  .goal_detail_form .day-list li .check-goal-label {
    position: absolute;
    bottom: 6%;
    right: 6%;
  }

  .goal_detail_form #delete_btn {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 1vh;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: rgb(223, 135, 164);
  }

  header .header_inner {
    width: 76%;
  }
}

@media screen and (min-width: 750px) {
  body {
    background-color: paleturquoise;
  }

  /* login.pug */
  .content#login_wrap {
    width: 60%;
    max-width: 480px;
    margin: 0 auto;
  }

  .content#login_wrap .form_wrap {
    width: 100%;
  }

  .content#login_wrap .form_wrap input {
    padding: 2.8vw;
  }

  /* goals.pug */
  .content#goal_wrap .list li[class*=-item] .goal-title {
    width: 80%;
    display: inline-block;
    margin-bottom: 0
  }

  /* goal_set_form */
  .goal_set_form {
    width: 36%;
    padding: 6.5vw;
  }

  form[class*=_form] input,
  select {
    padding: 3vw;
  }

  /* goal_detail_form */
  .goal_detail_form {
    width: 80%;
    height: 90%;
    position: relative;
    top: 5vh;
    margin: 0 auto;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 980px) {
  body {
    background-color: rgb(255, 99, 27);
  }

  /* login.pug */
  .content#login_wrap {
    width: 40%;
    margin: 0 auto;
  }

  .content#login_wrap .form_wrap input {
    padding: 2.3vw;
  }

  /* goals.pug */
  /* goal_set_form */
  form[class*=_form] input,
  select {
    padding: 2.5vw;
  }

  /* goal_detail_form */
  .goal_detail_form {
    width: 70%;
    padding: 8%;
  }


}

@media screen and (min-width: 1100px) {
  body {
    background-color: rgb(200, 178, 252);
  }

  /* login.pug */
  .content#login_wrap {
    width: 36%;
    margin: 0 auto;
  }

  .content#login_wrap .form_wrap input {
    padding: 2vw;
  }


  /* goals.pug */
  .content#goal_wrap .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .content#goal_wrap .list li[class*=-item] {
    width: 32%;
    padding: 3vw;
  }

  .content#goal_wrap .list li[class*=empty-item] {
    display: block;
    visibility: hidden;
  }

  .content#goal_wrap .list li[class*=-item] .goal-title {
    display: block;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }

  /* goal_set_form */
  .goal_set_form {
    width: 26%;
    max-width: 450px;
    padding: 5vw;
    top: 20vh;
  }

  .goal_set_form h2 {
    font-size: 1.2rem;
  }

  form[class*=_form] input,
  select {
    padding: 2vw;
  }

  /* goal_detail_form */
  .goal_detail_form {
    width: 55%;
    padding: 6% 7%;
  }

}


@media screen and (min-width: 1500px) {
  body {
    background-color: rgb(147, 250, 253);
  }

  /* login.pug */
  .content#login_wrap {
    width: 450px;
    margin: 0 auto;
  }

  .content#login_wrap .form_wrap input {
    padding: 2.6vh;

  }

  /* goals.pug */
  .content#goal_wrap .list li[class*=-item] {
    width: 24%;
  }

  /* goal_set_form */
  .goal_set_form {
    width: 20%;
  }

  form[class*=_form] input,
  select {
    padding: 1.4vw;
  }

  .goal_detail_form {
    width: 42%;
    padding: 6%;
  }
}

@media screen and (min-width: 1800px) {

  .goal_detail_form {
    width: 40%;
    padding: 5%;
  }
}

@media screen and (min-height: 1360px) {}